<template name="userList">
<div class="users">
                        <h4 class="title_in_block">Пользователи:<span class="count_users">(6)</span></h4>
                        <ul class="users_list">
                           <!-- <li><a href="#">Roman</a></li>
                            <a href="#">Alexey</a></li>
                            <li><a href="#">Andriy</a>
                            <li><a href="#">Mykola</a></li>
                            <li><a href="#">User777</a></li>
                            <li><a class="your_acc" href="#">Andrian</a></li>-->
{{#each logins}}
        {{> allLogins}}
    {{/each}}


          </ul>
                    </div>
</template>

<template name="allLogins">
<li><a href="#">{{username}}</a></li>
</template>
