<template name="chat">
    

       <div class="header_block">
        <div class="header">
            <div class="logo">
                <h1>Reactive Chat</h1>
            </div>

            <ul class="nav pull-right">
                         <li><a>{{> loginButtons align="right"}}</a></li>
                </ul>
        </div>
    </div>

<div class="content_block">
        <div class="chat_block">
        {{#if currentUser}}
       
         <div class="chat">   
<div class="messages_block">
                    
                            
{{> messages}}
                        


             {{> input}}   
            </div>

            <div class="right_block">
                {{> rooms}}
		{{> userList}}
		</div>
            
        </div>
        {{else}}
        <div class="hero-unit">
            <h1>Вітаємо Вас у чаті Метеору</h1>
            <p>Для подальших дій потрібно зареєструватись</p>
        </div>
        {{/if}}

    </div>
</div>
</template>
